/* font-face declarations for preloaded fonts */
/* These are the only 3 fonts being used.
    font-face declarations for thin, regular and light fonts should be added as needed */
@font-face {
  font-family: 'Archia';
  src: url('./fonts/Archia/archia-semibold-webfont.eot');
  src: local('Archia'),
    url('./fonts/Archia/archia-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Archia/archia-semibold-webfont.woff2') format('woff2'),
    url('./fonts/Archia/archia-semibold-webfont.woff') format('woff'),
    url('./fonts/Archia/archia-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archia';
  src: url('./fonts/Archia/archia-medium-webfont.eot');
  src: local('Archia'),
    url('./fonts/Archia/archia-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Archia/archia-medium-webfont.woff2') format('woff2'),
    url('./fonts/Archia/archia-medium-webfont.woff') format('woff'),
    url('./fonts/Archia/archia-medium-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archia';
  src: url('./fonts/Archia/archia-bold-webfont.eot');
  src: local('Archia'),
    url('./fonts/Archia/archia-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/Archia/archia-bold-webfont.woff2') format('woff2'),
    url('./fonts/Archia/archia-bold-webfont.woff') format('woff'),
    url('./fonts/Archia/archia-bold-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
