:root {
  --social-width: 6rem;

  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;

  // colors
  --gray: #6c757d;
  --blue: #007bff;
  --blue-mid: #007bff99;
  --red: #dc3545;
  --red-mid: #dc354599;
  --cherry: #ff073a;
  --cherry-mid: #ff073a99;
  --orange: #fd7e14;
  --orange-mid: #fd7e1499;
  --yellow: #ffc107;
  --yellow-mid: #ffc10799;
  --purple: #201aa2dd;
  --purple-mid: #201aa299;
  --pink: #db5581;
  --pink-mid: #db558199;
  --brown: #b6854d;
  --brown-mid: #b6854d99;
  --pblue: #4c75f2;
  --pblue-mid: #4c75f299;

  // rotate animation
  --gradient: linear-gradient(
    45deg,
    #d65db1,
    #845ec2,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

html {
  box-sizing: border-box; // so width will be calculated with padding and border
  // smooth scrolling
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  font-family: "archia";
  box-sizing: inherit;
}

body {
  -webkit-tap-highlight-color: transparent; // remove blue highlight when you hold on input buttons in css
  -webkit-touch-callout: none; // disable callout to show number of touches on safari
  margin: 0;
  padding: 0;
  background: var(--navy);
  color: var(--slate);
}
.app {
  // text-align: center;

  .hero-about-container {
    position: relative;

    .about {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      padding-top: 3rem;
      position: sticky;
      z-index: 1;
      bottom: 0;
      max-width: 60rem;
      margin: 0 auto;
      > p {
        margin: 0;
      }

      h5 {
        color: var(--lightest-slate);
      }

      .work-experience {
        .work-experience-points {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          & > div {
            display: flex;
            gap: 1rem;
            span {
              &:first-child {
                color: var(--green);
              }
            }
          }
        }
      }

      .achievements {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .info-header {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      position: relative;
      z-index: 3;
      .socials {
        background: var(--navy);
        display: flex;
        // width: fit-content;
        // display: inline-flex; // or fit-content
        z-index: 1;
        padding: 2rem;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        &::after,
        &::before {
          content: "";
          width: 100px;
          height: 1px;
          background-color: var(--white);
        }
      }
      hr {
        padding: 0;
        margin: 0;
        border-image: var(--gradient);
        border-image-slice: 1;
        // remove double border
        border-top: 0px;
        z-index: 3;
      }
      .hero-container {

        background: black;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        z-index: 2;

        .hero {
          flex-grow: 1;
          display: flex;
          // height: 100%; // for some reason just height 100% doesn't work
          transform-style: preserve-3d;
          // transform: rotateY(0.5turn);
          animation: rotate 5s -2s infinite alternate ease-in-out;
          background-color: var(--navy);

          .scroll-down-container {
          
            position: absolute;
            z-index: 99999;
            bottom: 0;
            left: 0;
            right: 0;

            .scroll-down {
              
              display: flex;
              flex-direction: column;
              width: fit-content;
              margin: 0 auto;
              align-items: center;
              gap: 1rem;
              margin-bottom: 3rem;
              
              
              .down-arrow {
                width: 2rem;
                height: 2rem;
                svg {
                  stroke: var(--lightest-slate) !important;
                }
              }
              .scroll-text {
                animation: jumpInfinite 1.5s infinite;

              }
            }
            
          }

          .back {
            position: absolute;
            inset: 2rem;
            transform: translateZ(-1rem);
            transform: rotateY(0.5turn);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transform-style: preserve-3d;

            h1 {
              // make text capitalized
              text-transform: uppercase;
              font-size: clamp(2rem, 5vw, 8rem);
              transform: translateZ(20rem);
              background: var(--gradient);
              background-size: 400%;
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              color: transparent;
              animation: bg-animation 2s ease infinite;
            }
          }
          .front {
            margin: 0 auto;
            align-items: center;
            max-width: 960px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // animation
            transform-style: preserve-3d;
            backface-visibility: hidden;

            h1 {
              font-size: clamp(2rem, 5vw, 6rem);
              font-weight: 900;
              margin: 0;
              transform: translateZ(9rem);
            }
            p {
              margin: 0;
              // italic
              font-style: italic;
              color: var(--green);
              transform: translateZ(6rem);
            }
          }
        }

        .hero::before {
          content: "";
          position: absolute;
          inset: 2rem;
          border: 4px solid var(--white);
          transform: translateZ(3rem);
        }

        .fire {
          .firework {
            position: absolute;
          }
          .explosion {
            position: absolute;
            left: -2px;
            bottom: 0;
            width: 5px;
            height: 180px;
            transform-origin: 50% 100%;
            overflow: hidden;
          }
          .explosion:nth-child(1) {
            transform: rotate(0deg) translateY(-15px);
          }
          .explosion:nth-child(2) {
            transform: rotate(30deg) translateY(-15px);
          }
          .explosion:nth-child(3) {
            transform: rotate(60deg) translateY(-15px);
          }
          .explosion:nth-child(4) {
            transform: rotate(90deg) translateY(-15px);
          }
          .explosion:nth-child(5) {
            transform: rotate(120deg) translateY(-15px);
          }
          .explosion:nth-child(6) {
            transform: rotate(150deg) translateY(-15px);
          }
          .explosion:nth-child(7) {
            transform: rotate(180deg) translateY(-15px);
          }
          .explosion:nth-child(8) {
            transform: rotate(210deg) translateY(-15px);
          }
          .explosion:nth-child(9) {
            transform: rotate(240deg) translateY(-15px);
          }
          .explosion:nth-child(10) {
            transform: rotate(270deg) translateY(-15px);
          }
          .explosion:nth-child(11) {
            transform: rotate(300deg) translateY(-15px);
          }
          .explosion:nth-child(12) {
            transform: rotate(330deg) translateY(-15px);
          }

          .explosion::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            height: 40px;
            background-color: #f5cf52;
          }
          @keyframes explosion {
            0% {
              top: 100%;
            }
            33%,
            100% {
              top: -50%;
            }
          }

          #firework1 {
            left: 50%;
            top: 50%;
            transform: scale(1);
          }
          #firework1 .explosion::before {
            animation: explosion 2s ease-in-out infinite;
          }

          #firework2 {
            left: 40%;
            top: 45%;
            transform: scale(0.7);
          }
          #firework2 .explosion::before {
            animation: explosion 2s 0.6s ease-in-out infinite;
          }

          #firework3 {
            left: 60%;
            top: 65%;
            transform: scale(0.4);
          }
          #firework3 .explosion::before {
            animation: explosion 2s 0.4s ease-in-out infinite;
          }
        }
      }
    }
  }
  .projects {
    max-width: 1200px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;

    .project {
      margin: 3rem auto;
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      position: relative;

      // first-child will not Work due to https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class
      &:nth-child(2) {
        margin-top: 1rem;
      }
      &:hover {
        .project-img {
          // filter: none;
          &::before {
            opacity: 0;
          }
        }
      }

     
      .project-img {

        position: absolute;
        inset: 0;
        line-height: 0;

        overflow: hidden;
        display: flex;
        justify-content: center;
        // background-color: var(--green);
        
        filter: grayscale(80%) contrast(1) brightness(20%);
        transition: filter 0.5s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background-color: var(--green);
          transition: opacity 0.5s ease-in-out;
          mix-blend-mode: overlay;
          opacity: 0.6;
        }

        img {
          object-fit: cover;
          object-position: center;
          
          min-width: 100%;
          min-height: 100%;
          flex-shrink: 0;
        }
      }
      .project-content {
        grid-area: 1 / 1 / -1 / -1;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        z-index: 2;
        h2 {
          color: var(--green);
        }

        .proj-description {
          z-index: 2;
          width: 100%;
          padding: 1.5rem;
          border-radius: 4px;
          color: var(--light-slate);
          box-shadow: 0 10px 30px -15px var(--navy-shadow);

          p {
            &:first-child {
              color: var(--white);
              margin-top: 0;
            }
          }
        }
        .proj-tech-stack {
          // italic
          font-style: italic;
          z-index: 2;
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          justify-content: flex-end;
          list-style: none;
        }
        .project-links {
          display: flex;
          gap: 1rem;
          justify-content: flex-end;
          a {
            color: var(--white);

            &:hover {
              color: var(--green);
            }
          }
        }
      }
    }
  }

  .about h1,
  .projects h1 {
    color: var(--lightest-slate);
    display: flex;
    white-space: nowrap;
    &::after {
      content: "";
      position: relative;
      top: 0.6em;
      margin-left: 20px;
      width: 100%;
      height: 1px;
      background-color: var(--lightest-navy);
    }
  }
}

.family-tree {
  // padding-right: 2rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 4rem auto;
}

@keyframes rotate {
  0% {
    transform: rotateY(0.5turn);
  }
  30% {
    transform: rotateY(0.5turn);
  }
  70% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(0);
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

// animations

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.fadeInAnimation {
  animation: fadeInAnimation 0.5s;
  animation-delay: var(--animation-delay, 0.2s);
  animation-fill-mode: both;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInDownAnimation {
  animation: fadeInDownAnimation 0.5s;
  animation-delay: var(--animation-delay, 0.2s);
  animation-fill-mode: both;
}

@keyframes fadeInDownAnimation {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpAnimation {
  animation: fadeInUpAnimation 0.5s;
  animation-delay: var(--animation-delay, 0.2s);
  animation-fill-mode: both;
}

@keyframes fadeInUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.github {
  color: var(--gray);

  &:hover {
    color: #6c757dbb;
  }
}

.linkedin {
  color: var(--blue);

  &:hover {
    color: var(--blue-mid);
  }
}

.instagram {
  color: var(--pink);

  &:hover {
    color: var(--pink-mid);
  }
}

.twitter {
  color: var(--pblue);

  &:hover {
    color: var(--pblue-mid);
  }
}

.mail {
  color: var(--brown);

  &:hover {
    color: var(--brown-mid);
  }
}
.send {
  color: var(--blue);

  &:hover {
    color: var(--blue-mid);
  }
}
.stackoverflow {
  color: var(--orange);

  &:hover {
    color: var(--orange-mid);
  }
}

.database {
  color: var(--yellow);

  &:hover {
    color: var(--yellow-mid);
  }
}

.underline {
  // display: block;
  display: inline-block;
  color: var(--green);
  &::after {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-color: var(--green);
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

a {
  text-decoration: none !important;
}

@media (min-width: 1100px) {
  .front {
    align-items: start !important;
  }
}

@media (max-width: 700px) {
  .projects h1 {
    padding-left: 1rem !important;
  }
}

@media (min-width: 700px) {
  .back {
    h1 {
      width: 50% !important;
    }
  }
  .app {
    .about,
    .projects,
    .family-tree {
      padding-left: var(--social-width) !important;
    }

    .hero-about-container {

      .info-header {

        .hero-container {
          .hero{
            .front {
              margin-left: 20%;
            }
          }
        }
        .socials {
          position: fixed;
          bottom: 0;
          top: 0;
          width: var(--social-width);
          flex-direction: column;
          padding-bottom: 2rem;
    
          &::after,
          &::before {
            content: "";
            width: 1px;
            height: 100px;
            background-color: var(--white);
          }
        }
      }
    }

    .projects {
      .project {

        &:nth-child(odd) {
          .project-img {
            grid-area: 1 / 7 / -1 / -1;
          }
          .project-content {
            grid-area: 1 / 1 / -1 / 8;
            text-align: left;
  
            .proj-tech-stack {
              justify-content: flex-start;
              padding-left: 0;
              padding-right: 40px;
            }
            .project-links {
              justify-content: flex-start;
            }
          }
        }

        .project-img {
          grid-area: 1 / 1 / -1 / 8;
          filter: none;
          position: relative;
          

          img {
            width: 100%;
            object-fit: unset;
          }
        }
        .project-content {
          grid-area: 1 / 7 / -1 / -1;
          text-align: right;

          .proj-description {
            background-color: var(--light-navy);
          }
        }
      }
    }
  }
}

